@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

/* 
@media screen and (min-width: 452px) { }
@media screen and (min-width: 700px) { }
@media screen and (min-width: 850px) { }
@media screen and (max-width: 1025px) { } // max-width = vor 1025px; 

*/

/*
ab 1024px für mobile navbar hamburger
@media screen and (min-width: 1024px) { }
*/

.nav__container {
  align-items: center !important;
  border-top: 3px solid #4f70db;
}
.nav-menu__ls {
  width: 100%;
}
.nav-menu__ls-ul {
  justify-content: flex-end;
}
.logo {
  width: 50%;
}
.logo__container {
  max-width: 200px;
  max-height: 55px;
  width: 100%;
  font-family: "Sofia";
  font-size: 1.5rem;
}
/* .logo__image {
  height: 100%;
} */

.landing-page {
  /* margin-top: 4rem; */
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .landing-page__hero {
  position: relative;
} */
/* .landing-page__info::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  right: 0vw;
  background-color: #2c2bb0cc;
  width: 20px;
  height: 50px;
} */

.landing-page__image {
  width: 100vw;
  filter: brightness(50%);
}
.landing-page__image-container {
  position: relative;
  background-color: #262626;
}
.landing-page__image {
  opacity: 0.5;
}
.landing-page__info {
  position: absolute;
  /* display: grid; */
  /* justify-content: center; */
  /* align-content: center; */
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
  /* padding: 2rem; */
  /* padding-top: 15%; */
  /* background-color: #92408060; */
}
@media screen and (max-width: 1036px) {
  .landing-page__info {
    margin-left: -163px;
    margin-top: -168px;
  }
}

.landing-page__para-div {
  max-width: 600px;
  margin-bottom: 1rem;
}
.landing-page__para {
  color: #ffffff !important;
  position: relative;
  width: 450px;
  margin: 2rem 0;
}
.landing-page__para2::after {
  position: absolute;
  /* top: 0; */
  bottom: -50%;
  left: 0;
  content: "";
  right: 0vw;
  background-color: #b5b5b5;
  width: 50vw;
  height: 5px;
  margin-top: 1rem;
  max-width: 450px;
  min-width: 200px;
}
.landing-page__CTA-btn {
  width: 250px !important;
  height: 65px !important;
  font-size: 1.5rem !important;
  box-shadow: #4f70db 0px 15px 15px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px !important;
  border: #4f70db solid 3px !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: #fff !important;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/* .......................... */
/* .......................... */
.projects__section {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #201f1d;
  /* margin-left: -250px; */
  /* margin-top: -250px; */
}
.projects__container {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  flex-direction: column;
  padding: 2rem 3rem 4rem 3rem;
  /* padding-bottom: 2rem; */
}
.about {
  display: grid;
  justify-content: center;
  align-content: center;
}
.projects__item-img {
  z-index: 2;
}
.projects__item-info {
  padding: 10px 0 10px 0;
}
.projects__info {
  text-align: center;
  padding: 2rem;
}
.projects__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/* @media screen and (max-width: 666px) {
  .projects__items {
    flex-direction: column;
  }
} */
.projects__title {
  color: #e3e0e0 !important;
}
.projects__subtitle {
  color: #cccaca !important;
}
.projects__item {
  background-color: #d5d8e1 !important;
  max-width: 295px;
  max-height: 400px;
  height: 400px;
} /* hier brauche ich @media für mobile-version */

.projects__item-title {
  margin-bottom: 0.4rem !important;
  /* margin-top: 5px; */
}
.projects__item-ul {
  margin-bottom: 10px;
  margin-left: 15px;
}
.projects__item-li {
  /* position: relative; */
  list-style-type: circle !important;
  list-style-position: inside;
}
.projects__item-li:nth-child(2) {
  color: rgba(90, 81, 81, 0.23) !important;
}
.projects__item-button {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px !important;
  background: rgba(101, 128, 218, 0.2) !important;
  border: 1.5px solid #4f70db !important;
  border-radius: 2px !important;
}
.p-10 {
  padding-top: 10px;
}

/* .......................... */
/* .......................... */
.aboutMe__section {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #f1cbcb34;
}
.aboutMe__items {
  /* background-color: #f1cbcb34; */
  /* filter: brightness(100%); */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  /* padding: 2rem 3rem; */
  padding-top: 8rem;
  padding-bottom: 4rem !important;
  gap: 1.5rem;
  /* max-width: 80vw; */
  max-width: 900px;
}
.aboutMe__img {
  position: absolute;
  top: -20%;
  /* left: 25%; */
  border: #4f70db 3px solid;
  border-radius: 50%;
}
.item0 {
  position: relative;
  display: flex;
  height: 400px;
  flex-direction: column;
  /* column-gap: 1rem; */
  align-items: center;
}

.aboutMe__info {
  padding-top: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item1 {
  background-color: #e4dad57e !important;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}
.aboutMe__ul-sozialMedia {
  display: flex;
  align-items: center;
}
.aboutMe__ul-li {
  padding: 10px 10px 0 10px;
}
.title1 {
  margin: 2rem 0;
}
.about {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 80vw;
  width: 1029px;
}
.item2 {
  text-align: center;
  max-height: 400px;
}
.title2 {
  text-align: left;
}
.subTitle2 {
  text-align: left;
  margin-bottom: 0 !important;
  letter-spacing: 0.7px;
}
.aboutMe__biography {
  height: 100%;
  display: grid;
  padding: 0 2rem;
}
.aboutMe__button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.aboutMe__button {
  width: 95%;
  font-weight: bold;
  border: #4f70db solid 2px !important;
  color: #4c64b3 !important;
  border-radius: 6px !important;
  /* background-color: transparent !important; */
}

.title3 {
  padding: 10px;
  padding-bottom: 1.5rem;
}
.aboutMe__skills-container {
  /* background-color: #a55050; */
  /* background-color: #413333; */
  display: flex;
  justify-content: center;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  /* transform: rotate(270deg); */
}
.aboutMe__svg {
  position: relative;
  width: 150px;
  height: 150px;
  /* -drehen Richtung Uhrzeigersinn */
  transform: rotate(270deg);
}
/* First circle */
.aboutMe__cirlce {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #4f494941;
  /* verschieben in die (x,y)  */
  transform: translate(5px, 5px);
}
/* zweite Sibling bzw Kreis */
.aboutMe__cirlce:nth-child(2) {
  /* color aus html-var */
  stroke: var(--clr);
  /* Farbe geht entlang der path */
  stroke-dasharray: 440px;
  /* --num = 75 */
  stroke-dashoffset: calc(440px - (440px * var(--num)) / 100);
  animation-delay: 2.5s;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aboutMe__dot {
  position: absolute;
  /* background: #f00; */
  inset: 5px;
  z-index: 5;
  /* transform: rotate(calc(3.6deg * var(--num))); */
  /* animation fürs Dot-Drehen mit 2-Sekunen*/
  /* animation: animateDot 2s linear forwards; */
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot1 {
  /* webdesign circle*/
  animation: animateDot 2.5s linear forwards;
}
.dot2 {
  /* html-css circle*/
  animation: animateDot 3.5s linear forwards;
}
.dot3 {
  /* html-css circle*/
  animation: animateDot 1.5s linear forwards;
}
.dot4 {
  /* html-css circle*/
  animation: animateDot 1s linear forwards;
}

.aboutMe__dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 45%;
  border-radius: 50%;
  transform: rotateX(-50% "angle");
  width: 10px;
  height: 10px;
  background: var(--clr);
  box-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}
.aboutMe__number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-delay: 2.5s;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}
.aboutMe__progress-value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.1em;
}
.aboutMe__progress-value span {
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}
.aboutMe__progress-text {
  font-weight: 300;
  font-size: 0.75em;
  line-height: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 2555);
}

.container {
  margin-top: 5rem;
}

.aboutMe2__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-color: #f1cbcb34;
}
.aboutMe2__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-top: 2.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;

  /* max-width: 80vw; */
  /* max-width: 900px; */
}

.aboutMe3__section {
  padding-top: 2rem;
  background-color: #f1cbcb34;
}
.aboutMe3__scroll-container {
  position: relative;
  /* padding-top: 2rem; */
  /* padding: 2rem; */
}
.aboutMe3__scroll {
  position: absolute;
  content: "";
  width: 100%;
  height: 55px;
  background-color: #e1e117;
  /* background-color: #F7F6F6; */
  display: flex;
  justify-content: center;
}
.aboutMe3__img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.aboutMe3__img:hover, .aboutMe3__scroll:hover {
  cursor: pointer;
}
.aboutMe3__items {
  position: relative;
}